body {
	background-color: antiquewhite;
}
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

p {
    margin-bottom: 20px;
}

.text-color {
    color: red;
}

.text-size {
    font-size: 30px;
}