body {
	background-color: rgb(248, 192, 119);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


h1{
    text-align: center;
    line-height: 60px;

    font-family: "arek", serif;
    font-weight: 400;
    font-style: normal;
}

.text {
    color: rgb(241, 133, 133);
}

.textone{
    font-size: 50px;
    color: rgb(250, 142, 142);
}

.texttwo{
    font-size: 60px;
    color: rgb(253, 86, 86);
}

.textthree{
    font-size: 120px;
    color: red;
}

.next {
    font-size: 40px;
    border: none;
    background-color: transparent;

    font-family: "altivo", sans-serif;
    font-weight: 700;
    font-style: normal;

    position: fixed;
    top: 10px;
    right: 10px;
}

.next:hover {
    transform: translateY(-4px);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(248, 192, 119);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
    }
    
    
    h1{
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    
        font-family: "arek", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .text {
        color: rgb(241, 133, 133);
    }
    
    .textone{
        font-size: 20px;
        color: rgb(250, 142, 142);
    }
    
    .texttwo{
        font-size: 30px;
        color: rgb(253, 86, 86);
    }
    
    .textthree{
        font-size: 60px;
        color: red;
    }
    
    .next {
        font-size: 20px;
        border: none;
        background-color: transparent;
    
        font-family: "altivo", sans-serif;
        font-weight: 700;
        font-style: normal;
    
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    .next:hover {
        transform: translateY(-4px);
    }
}