HTML {
    background-image: url(img/map2.png);
    background-size: 115vw;
    background-repeat: no-repeat;
}

H1 {
    position: relative;
    text-align: center;
    font-size: 9vw;
    margin-top: 0;
    color: rgb(0, 0, 0);
    margin-bottom: 0;


    font-family: "veneer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

H2 {
    position: relative;
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
    color: rgb(0, 0, 0);
    margin-top: 0;
    line-height: 0px;

    font-family: "veneer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box{
    width: 16vw;
    height: 9vw;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: white;
    position: fixed;
    top: 10vw;
    left: 1vw;
}

.text{
    font-size: 3vw;
    position: fixed;
    top: 11vw;
    left: 7vw;

    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    position: fixed;
    top: 11vw;
    left: 3vw;
    font-size: 2vw;
    weight: 9px;
    height: 9px;

    font-family: "typeka", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.highname {
    color: red;
    text-shadow: 0.08vw 0.08vw rgb(2, 2, 2);
}

.mediumname {
    color: orange;
    text-shadow: 0.08vw 0.08vw rgb(2, 2, 2);

}

.lowname {
    color: rgb(255, 255, 0);
    text-shadow: 0.08vw 0.08vw rgb(2, 2, 2);
}

  


.onedollar {
    position: fixed;
    top: 15.6vw;
    left: 13vw;
    width: 3vw;
    height: 3vw;
}

.twodollar {
    position: fixed;
    top: 13.2vw;
    left: 13vw;
    width: 3vw;
    height: 3vw;
}

.threedollar {
    position: fixed;
    top: 10.7vw;
    left: 13vw;
    width: 3vw;
    height: 3vw;
}

/* one dollar */
/* ------------------------------------------ */

.onedollar1 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 30vw;
    left: 34vw;    
}

.onedollar1:hover {
transform: translateY(-2.5px); 
}

.onedollar2 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 25vw;
    left: 38vw;    
}

.onedollar2:hover {
transform: translateY(-2.5px); 
}

.onedollar3 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 24vw;
    left: 32vw;    
}

.onedollar3:hover {
transform: translateY(-2.5px); 
}

.onedollar4 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 19vw;
    left: 40vw;    
}

.onedollar4:hover {
transform: translateY(-2.5px); 
}

.onedollar5 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 23vw;
    left: 45vw;    
}

.onedollar5:hover {
transform: translateY(-2.5px); 
}

.onedollar6 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 22vw;
    left: 32vw;    
}

.onedollar6:hover {
transform: translateY(-2.5px); 
}

.onedollar7 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 18vw;
    left: 35vw;    
}

.onedollar7:hover {
transform: translateY(-2.5px); 
}

.onedollar8 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 18vw;
    left: 45vw;    
}

.onedollar8:hover {
transform: translateY(-2.5px); 
}
/* two dollar */
/* ------------------------------------------ */

.twodollar1 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 15vw;
    left: 38vw;    
}

.twodollar1:hover {
transform: translateY(-2.5px); 
}

.twodollar2 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 18vw;
    left: 41vw;    
}

.twodollar2:hover {
transform: translateY(-2.5px); 
}

.twodollar3 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 32vw;
    left: 39vw;    
}

.twodollar3:hover {
transform: translateY(-2.5px); 
}

.twodollar4 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 40vw;
    left: 41vw;    
}

.twodollar4:hover {
transform: translateY(-2.5px); 
}

.twodollar5 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 37vw;
    left: 33vw;    
}

.twodollar5:hover {
transform: translateY(-2.5px); 
}

.twodollar6 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 29vw;
    left: 32vw;    
}

.twodollar6:hover {
transform: translateY(-2.5px); 
}

.twodollar7 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 18vw;
    left: 50vw;    
}

.twodollar7:hover {
transform: translateY(-2.5px); 
}

.twodollar8 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 28vw;
    left: 40vw;    
}

.twodollar8:hover {
transform: translateY(-2.5px); 
}

/* three dollar */
/* ------------------------------------------ */

.threedollar1 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 20vw;
    left: 38vw;    
}

.threedollar1:hover {
transform: translateY(-2.5px); 
}

.threedollar2 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 26vw;
    left: 41vw;    
}

.threedollar2:hover {
transform: translateY(-2.5px); 
}

.threedollar3 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 23vw;
    left: 39vw;    
}

.threedollar3:hover {
transform: translateY(-2.5px); 
}

.threedollar4 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 20vw;
    left: 46vw;    
}

.threedollar4:hover {
transform: translateY(-2.5px); 
}


.threedollar5 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 45vw;
    left: 38vw;    
}

.threedollar5:hover {
transform: translateY(-2.5px); 
}

.threedollar6 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 28vw;
    left: 36vw;    
}

.threedollar6:hover {
transform: translateY(-2.5px); 
}


.threedollar7 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 22vw;
    left: 36vw;    
}

.threedollar7:hover {
transform: translateY(-2.5px); 
}

.threedollar8 {
    position: absolute;
    width: 4vw;
    height: 4.3vw;
    top: 43vw;
    left: 32vw;    
}

.threedollar8:hover {
transform: translateY(-2.5px); 
}



