body{
    background-color: rgb(202, 42, 42);
}
h1 {
    font-size: 200px;
}

.next {
    font-size: 40px;
    border: none;
    background-color: transparent;

    font-family: "altivo", sans-serif;
    font-weight: 700;
    font-style: normal;

    position: relative;
}

.next:hover {
    transform: translateY(-4px);
}