.Container {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Info {
	position: absolute;
	padding: 10px;
    font-size: 12vw;
    text-align: center;

    font-family: "poleno", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
	margin: 0;
}

p {
	margin: 0;
}