Html {
	background: linear-gradient(-45deg, #f4977b, #f34444, #f4ae79, #fb8853);
	background-size: cover;
    background-repeat: no-repeat;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160px;
    color: rgb(154, 2, 2);
    display: inline;
    font-family: "lulo-one", sans-serif;
font-weight: 700;
font-style: normal;
}


.next {
	border-radius: 4px;
	background-color: transparent;
	border: none;
	color: #000000;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	position: fixed;
	right: 10px;
	top: 0px;

	font-family: "arek", serif;
	font-weight: 400;
	font-style: normal;
	}
		
.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
		
.next span:after {
  content: '\276F';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
		
.next:hover span {
  padding-right: 25px;
  color: rgb(228, 76, 59);
}
		
.next:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
    Html {
        background: linear-gradient(-45deg, #f4977b, #f34444, #f4ae79, #fb8853);
        background-size: cover;
        background-repeat: no-repeat;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 55px;
        color: rgb(154, 2, 2);
        display: inline;
        font-family: "lulo-one", sans-serif;
    font-weight: 700;
    font-style: normal;
    }
    
    .next {
        font-size: 20px;
        border: none;
        background-color: transparent;
    
        font-family: "altivo", sans-serif;
        font-weight: 700;
        font-style: normal;
    
        position: fixed;
        top: 10px;
        right: 10px;
    }
    
    .next:hover {
        transform: translateY(-4px);
    }
}