.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #000;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1s infinite alternate ease-in-out;
  }

  
  @keyframes bounce {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    100% {
      transform: translateX(-50%) translateY(-10px); /* Adjust the vertical movement distance */
    }
  }
  
h1 {
    font-size: 50px;
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}

.part {
    margin: 50px;
    padding: 50px;
    opacity: 1;
  }

.next {
    font-size: 50px;
    border: none;
    background-color: transparent;
}

.next:hover {
    transform: translateY(-5px);
}