html{
margin: 0;
padding: 0%;
}


h1{
    font-size: 12vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.title{
    width: 100vw;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0%;

    height: 41vw; 
    object-fit: cover;

}

hr{
    margin-top: 0;
    size: 2px;
    width: 100vw;
}

.trainimage{
width: 100vw;
border-radius: 2vw;



    margin: 0;
    padding: 0;

    height: 56vw; 
    object-fit: cover;
}

.firsttext {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.titletwo{
    position: relative;
    right: -25vw;
    width: 75vw;
    height: auto;

    }

.texttwo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 45vw;

    position: relative;
    right: -52vw;
    top: -29vw;
}



.subtitlethree{
position: relative;
top: -10vw;

width: 80vw;
height: auto;
}


h2 {
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800; 
}

video{
    width: 60vw;
    height: 40vw;
}



.imgthree{
    width: 60vw;
    height: 40vw;
    position: relative;
    right: -19vw;
    top: -15vw;

}

.textthree{
    margin-top: -41vw;
    max-width: 37vw;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    position: relative;
    top: -22vw;
    margin-left: 10px;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 30.25%; /* 16:9 aspect ratio */
    border: none; 

  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    border: none; 
  }

  @media screen and (max-width: 600px){
    .imgthree{
        width: 90vw;
        height: auto;
        position: relative;
        right: -2vw;
        top: -11.5vw;
    
    }
    
    .textthree{
    
    
        max-width: 100vw;  
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    
        position: relative;
        top: 16vw;
        margin-left: 10px;
    }

    .titletwo{
        position: relative;
        right: 1vw;
        width: 75vw;
        height: auto;
    
        }
    
    .texttwo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        max-width: 100vw;  

    
        position: relative;
        top: 0vw;
        right: -2vw;
 
    }

    .video-container {
        position: relative;
        width: 100%;
        padding-bottom: 230.2px; /* 16:9 aspect ratio */
        border: none; 
    
      }
      
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 95vw;
        height: 100%;
        border: none; 
      }
    
}