html{
margin: 0;
padding: 0%;
}


h1{
    font-size: 12vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.title{
    width: 50vw;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;

    position: relative;
    top: 7.5vw;
    mix-blend-mode: darken;
}

hr{
    margin-top: 0;
    size: 2px;
    width: 100vw;
}

.trainimage{
width: 100vw;
border-radius: 2vw;



    margin: 0;
    padding: 0;
}

.firsttext {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.titletwo{
    position: relative;

    top: 20vw;
    width: 80vw;
    height: auto;

    }

.texttwo{
    top: 148vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    max-width: 50vw;
}



.subtitlethree{
position: relative;
top: -10vw;

width: 80vw;
height: auto;
}


h2 {
    font-size: 6vw;
    margin-bottom: 0;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800; 
}

video{
    width: 60vw;
    height: 40vw;
}

.imgtwo{
    align-items: right;
}
.poster{
    text-align: right;
}

.imgthree{
    width: 60vw;
    height: 40vw;
    position: relative;
    right: -19vw;
    top: -13vw;

}

.textthree{
    right: -40vw;
    margin-top: -41vw;
    max-width: 50vw;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    position: relative;
    top: 14vw;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 30.25%; /* 16:9 aspect ratio */
    border: none; 

  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    border: none; 
  }

