html{
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.scroll-box {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 350px; 
    width: 350px;
    padding: 15px;
    overflow-y: scroll;
    position: relative;
    left: 100px;
    top: 100px;
}

.scroll-box-second {
    background: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 350px; 
    width: 350px;
    padding: 15px;
    overflow-y: scroll;
    position: relative;
    left: 1000px;
    bottom: 50px;
}

.button {
    font-size: 20px;
    position: relative;
    left: 900px;
    bottom: 200px;

    background-color: #f4f4f4;
    border: 2px solid rgba(0, 0, 0, 0.1);
}