html {
    display: flex;
    color: white; 
    background-color: rgb(255, 248, 237);  
}
h1{
    color: black;
    font-size: 13.5vw;
    font-family: "chill-script", sans-serif;
    font-weight: 400;
    font-style: normal;    
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}

button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 32px;  
    margin-right: 0; 
    font-family: "chill-script", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;
}

.small{
    font-size: 16px;
    margin: 1;
    padding: 1;
}


button:hover{
    transform: translateY(-2px);
}



.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 350px;
    height: auto;

}


img:hover{
transform: translateY(-2px);
}

p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    font-size: 20px;
}